body{
    font-family: sans-serif;
}

header{
    display: flex;
    flex-direction: row;
    flex: auto;
    background-image: url("./imgs/banner.png");
    padding: 2% 5% 2% 5%;
    filter: grayscale(100%);
    position: absolute;
    left: -0.025%;
    right: -0.025%;
    top: 0%;
    bottom: -26.48%;
}
#header-logo{
    margin: left: 50%
}